.container {
  @apply grid;
  width: 100%;
  justify-content: center;
}
.tagContainer {
  width: 215px;
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  white-space: nowrap;
}
.tagContainer::-webkit-scrollbar {
  display: none;
}
.label {
  font-size: 12px;
  color: white;
  padding: 5px 5px;
  border: 1px solid #535353;
  border-radius: 4px;
  cursor: pointer;
}
.active {
  border: 1px solid #73a7f7;
  background-color: #354867;
}
