.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.containerStyle {
  position: absolute;
  z-index: 12;
}
.dropShadow {
  width: 78%;
  height: 96%;
  border-radius: 14px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.imageparent {
  height: 100%;
}
