.container {
  display: grid;
  gap: 12px;
}
.container > :not(:first-child) {
  margin-top: 8px;
}
.downloadContainer {
  width: 100%;
  @apply text-white flex justify-center;
  align-items: flex-end;
  position: absolute;
  bottom: 22px;
  width: 296px;
}
.sliderContainer {
  height: 150px;
  width: 100%;
  color: red;
  @apply grid place-content-center;
  grid-template-columns: 0.8fr;
  margin-top: 14px;
}
.designContainer {
  margin-top: 30px;
  @apply grid;
  gap: 24px;
}
.label {
  color: white;
}
.frameContainer {
  @apply grid;
  margin-top: 30px;
  gap: 24px;
}
.scrollContainer {
  overflow: auto;
  height: 99vh;
  padding-bottom: 100px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollContainer ::-webkit-scrollbar {
  display: none;
}
