.workspacecontainer {
  @apply grid;
  grid-template-columns: auto 330px;
  grid-template-rows: auto;
  height: 100vh;
}
.CanvasBarContainer {
  @apply text-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #28282b;
}
.SideBarContainer {
  @apply grid;
  justify-content: center;
  grid-template-columns: 0.9fr;
  background-color: #242425;
  border-left: 2px solid #545454;
  overflow: auto;
  overflow-x: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.SideBarContainer ::-webkit-scrollbar {
  display: none;
}
