.customBtn {
  @apply grid place-content-center rounded-xl text-[#929292];
  font-size: 14px;
  font-weight: bold;
  grid-template-columns: 10% 90%;
  width: 100%;
  height: 50px;
}
.icon {
  @apply grid place-content-center text-xl text-[#ff6b18];
  height: 50px;
}
.text {
  @apply grid place-content-center;
}
