.container {
  @apply grid;
  grid-template-rows: auto auto;
  gap: 1.2em;
}
.colorContainer {
  @apply grid;
  background-color: #110f1a;
  grid-template-columns: 1fr 1fr 1fr;
  height: 44px;
  border-radius: 4px;
}
.text {
  @apply text-white text-sm;
  font-size: 12px;
}
.color,
.transparent,
.background {
  @apply grid place-content-center;
  height: 38px;
}

.color:hover,
.transparent:hover,
.background:hover {
  cursor: pointer;
  background-color: #3b3b3f;
  border-radius: 4px;
}

input[type="color"] {
  display: none;
  position: absolute;
  top: 10px;
}
.active {
  @apply bg-[#1D1D1D];
  border-radius: 4px;
  background-color: #354a68;
  border: 1px solid #71a3ef;
}
.button {
  width: auto;
  height: auto;
  display: grid;
  place-content: center;
}
.color {
  height: 34px;
  width: 65px;
}
.transparent {
  height: 34px;
  width: 90px;
}
.background {
  height: 34px;
  width: 65px;
}
.label {
  color: white;
  font-size: 14px;
}
.colorPicker {
  position: absolute;
  left: 20px;
  top: 20px;
}
.colorPicker.sketchPicker {
  background-color: black !important;
}
