.fileInput {
  @apply flex items-center;
  display: none;
}
.customBtn {
  @apply grid place-content-center rounded-xl;
  font-weight: bold;
  grid-template-columns: 35% 65%;
  width: 100%;
  height: 50px;
  background-color: #ff6b18;
}
.customBtn:hover {
  cursor: pointer;
}
.icon {
  @apply text-xl;
  margin-left: 75%;
  margin-top: 2px;
}
